<%- include('layouts/header') %> 

<h2>EDITAR DATOS</h2>
    <form class="row g-1" method="post" action="../actualizar/" enctype="application/json">

    <input type="text" name="id" value="<%=barco.id%>">


        <div class="form-group">
            <label for="my-input">Hora</label>
            <input id="my-input" value="<%=barco.hora%>" class="form-control" type="number" name="hora">
        </div>

        <div class="form-group">
            <label for="my-input">Nombre del Barco</label>
            <input id="my-input" value="<%=barco.nombre%>" class="form-control" type="text" name="nombreBarco">
        </div>

        <div class="form-group">
            <label for="my-input">Bandera</label>
            <input id="my-input" value="<%=barco.bandera%>" class="form-control" type="text" name="bandera">
        </div>

        <div class="form-group">
            <label for="my-input">Señal Distintiva</label>
            <input id="my-input" value="<%=barco.senaldistintiva%>" class="form-control" type="text" name="senalDistintiva">
        </div>


        <h2>Latitud</h2>

        <div class="form-group">
            <label for="my-input">Grados</label>
            <input id="my-input" value="<%=barco.latgrados%>" class="form-control" type="number" name="latGrados">
        </div>

        <div class="form-group">
            <label for="my-input">Minutos</label>
            <input id="my-input" value="<%=barco.latminutos%>" class="form-control" type="number" name="latMinutos">
        </div>

        <div class="form-group">
            <label for="my-input">Segundos</label>
            <input id="my-input" value="<%=barco.latsegundos%>" class="form-control" type="number" name="latSegundos">
        </div>

        <h2>Longitud</h2>

        <div class="form-group">
            <label for="my-input">Grados</label>
            <input id="my-input" value="<%=barco.longgrados%>" class="form-control" type="number" name="longGrados">
        </div>

        <div class="form-group">
            <label for="my-input">Minutos</label>
            <input id="my-input" value="<%=barco.longminutos%>" class="form-control" type="number" name="longMinutos">
        </div>

        <div class="form-group">
            <label for="my-input">Segundos</label>
            <input id="my-input" value="<%=barco.longsegundos%>" class="form-control" type="number" name="longSegundos">
        </div>

        <h4>Tipo de buque</h4>

        <div class="form-group">
            <label for="my-select">Tipo de Buques</label>
            <select id="my-select" value="<%=barco.tipoDeBuque%>" class="custom-select" name="tipoDeBuque">
                <option>PESQUERO</option>
                <option>CARGA</option>
                <option>SIN DATO</option>
            </select>
        </div>

        <h4>Actividad</h4>

        <div class="form-group">
            <label for="my-select">Actividad</label>
            <select id="my-select" value="<%=barco.estado%>" class="custom-select" name="actividad">
                <option>PESCANDO</option>
                <option>NAVEGANDO</option>
                <option>FONDEADO</option>
                <option>SIN DATO</option>
                <option>Otro</option>
            </select>
        </div>


        <h4>Metodo de detección</h4>

        <div class="form-group">
            <label for="my-select">Metodo</label>
            <select id="my-select" value="<%=barco.avistadoPorSistema%>" class="custom-select" name="detectado">
                <option>VISUAL</option>
                <option>RADAR</option>
                <option>AIS</option>
                <option>Otro</option>
            </select>
        </div>


        <button type="submit" class="btn btn-primary">Editar Barco</button>
      </form>

      <%- include('layouts/footer') %> 