<%- include('layouts/header') %> 


<h2>Planilla MEREP</h2>
<div class="container">
    <table class="table">
        <thead class="table-info">
          <tr>
            <th scope="col">FECHA</th>
            <th scope="col">HORA</th>
            <th scope="col">NOMBRE</th>
            <th scope="col">LATITUD S</th>
            <th scope="col">LONGITUD W</th>
            <th scope="col">SEÑAL DISTINTIVA</th>
            <th scope="col">BANDERA</th>
            <th scope="col">TIPO DE BUQUE</th>
            <th scope="col">ESTADO</th>
            <th scope="col">ZEE</th>
            <th scope="col">DISTANCIA ZEE MN</th>
            <th scope="col">AVISTADO POR SISTEMA</th>
            <th>Acciones de Tabla</th>
            <td> Distancia 05 BN</td>
            <td>asd</td>
          </tr>
        </thead>
        <tbody>
          <% for( let barco = 0; barco < barcos.length; barco++ ) { %>
          
            <tr>
              <td><%=fecha%></td>
              <td><%=barcos[barco].hora %></td>
              <td><%=barcos[barco].nombre %></td>
              <td><%=barcos[barco].latgrados %>° <%=barcos[barco].latminutos %>' <%=barcos[barco].latsegundos %>'</td>
              <td>0<%=barcos[barco].longgrados %>° <%=barcos[barco].longminutos %>' <%=barcos[barco].longsegundos %>'</td>
              <td><%=barcos[barco].senaldistintiva%></td>
              <td><%=barcos[barco].bandera%></td>
              <td><%=barcos[barco].tipoDeBuque%></td>
              <td><%=barcos[barco].estado%></td>
              <td>  <% if(zee(-40.513333,-61.973333,decimal(-(barcos[barco].latgrados),barcos[barco].latminutos,barcos[barco].latsegundos),decimal(-(barcos[barco].longgrados),barcos[barco].longminutos,barcos[barco].longsegundos)) < 200){ %>
                DENTRO
              <% } else{ %>  
                FUERA
             <% } %></td>

              <td><%=test(zee(-40.513333,-61.973333,decimal(-(barcos[barco].latgrados),barcos[barco].latminutos,barcos[barco].latsegundos),decimal(-(barcos[barco].longgrados),barcos[barco].longminutos,barcos[barco].longsegundos)))%></td>
              <td><%=barcos[barco].avistadoPorSistema%></td>
              
              <td> 

                <div class="btn-group-vertical" role="group" aria-label="Vertical button group">

                  <form class="form-inline" method="post" action="/editar/<%=barcos[barco].id %>">
                    
                    <button class="btn btn-warning" type="submit">Editar</button>

                  </form>
                   
                </div>

                
                <div class="btn-group-vertical" role="group" aria-label="Vertical button group">

                  <form class="form-inline" method="post" action="/eliminar/<%=barcos[barco].id %>">
                    
                    <button class="btn btn-danger" type="submit">Borrar</button>

                  </form>
                  
                </div>
                
                
              </td>




              <td> <%= zee(-40.513333,-61.973333,decimal(-(barcos[barco].latgrados),barcos[barco].latminutos,barcos[barco].latsegundos),decimal(-(barcos[barco].longgrados),barcos[barco].longminutos,barcos[barco].longsegundos))%></td>
              <td><%=decimal(-(barcos[barco].latgrados),barcos[barco].latminutos,barcos[barco].latsegundos)%></td>
            </tr>
  
          <% } %> 
        </tbody>
      </table>
      <a class="btn btn-primary" href="http://localhost:3001/cargar" role="button">CARGAR UN NUEVO BARCO</a>
     
    </div>

  <%- include('layouts/footer') %> 
  
