<%- include('layouts/header') %> 


<h2>Planilla</h2>
<div class="container">
    <table class="table">
        <thead class="table-info">
          <tr>
            <th scope="col">FECHA</th>
            <th scope="col">HORA</th>
            <th scope="col">NOMBRE</th>
            <th scope="col">LATITUD S</th>
            <th scope="col">LONGITUD W</th>
            <th scope="col">SEÑAL DISTINTIVA</th>
            <th scope="col">BANDERA</th>
            <th scope="col">TIPO DE BUQUE</th>
            <th scope="col">ESTADO</th>
            <th scope="col">ZEE</th>
            <th scope="col">DISTANCIA ZEE MN</th>
            <th scope="col">AVISTADO POR SISTEMA</th>
            <th>Acciones de Tabla</th>
          </tr>
        </thead>
        <tbody>
          <% for( let barco = 0; barco < barcos.length; barco++ ) { %>
          
            <tr>
              <td><%=barcos[barco].fecha %></td>
              <td><%=barcos[barco].hora %></td>
              <td><%=barcos[barco].nombre %></td>
              <td><%=barcos[barco].latgrados %>° <%=barcos[barco].latminutos %>' <%=barcos[barco].latsegundos %>'</td>
              <td>0<%=barcos[barco].longgrados %>° <%=barcos[barco].longminutos %>' <%=barcos[barco].longsegundos %>'</td>
              <td><%=barcos[barco].senaldistintiva%></td>
              <td><%=barcos[barco].bandera%></td>
              <td><%=barcos[barco].tipoDeBuque%></td>
              <td><%=barcos[barco].estado%></td>
              <td><%=zee(-40.875000,-62.305000,-42.155446,-58.219406)%></td>
              <td><%=barcos[barco].distanciaZeea%></td>
              <td><%=barcos[barco].avistadoPorSistema%></td>
              <td> Editar | Borrar</td>
            </tr>
  
          <% } %> 
        </tbody>
      </table>
    </div>

  <%- include('layouts/footer') %> 