<%- include('layouts/header') %> 


<h2>Archivo OZY</h2>
<div class="container" >
    <div>
    OziExplorer Waypoint File Version 1.1
    <br>
    WGS 84
    <br>
    Reserved 2
    <br>
    magellan
    <br>

          <% for( let barco = 0; barco < barcos.length; barco++ ) { %>
          
              <%=barcos[barco].id%>,<%=barcos[barco].nombre%>, <%=-(decimal(barcos[barco].latgrados,barcos[barco].latminutos,barcos[barco].latsegundos))%>, <%=-(decimal(barcos[barco].longgrados,barcos[barco].longminutos,barcos[barco].longsegundos))%>,39836.3914804,  0, 0, 3,         0,     65535,, 0, 0,    0,   -777, 8, 1,20,0,10.0,2,,,
              <br/>
            
          <% } %> 
    19,05 BN, -40.513333, -61.973333,39836.3914804,  0, 0, 3,         0,     65535,, 0, 0,    0,   -777, 8, 1,20,0,10.0,2,,,<br/>
    20,06 PR, -40.875000, -62.305000,39836.3936912,  0, 0, 3,         0,     65535,, 0, 0,    0,   -777, 8, 1,20,0,10.0,2,,,<br/>
    21,07 PD, -42.766667, -63.633333,39836.3945214,  0, 0, 3,         0,     65535,, 0, 0,    0,   -777, 8, 1,20,0,10.0,2,,,<br/>
    22,08 RS, -44.403333, -65.095000,39836.3952880,  0, 0, 3,         0,     65535,, 0, 0,    0,   -777, 8, 1,20,0,10.0,2,,,<br/>
    23,09 IR, -45.120000, -65.371667,39836.3962252,  0, 0, 3,         0,     65535,, 0, 0,    0,   -777, 8, 1,20,0,10.0,2,,,<br/>
    24,10 CB, -47.200000, -65.733333,39836.3968185,  0, 0, 3,         0,     65535,, 0, 0,    0,   -777, 8, 1,20,0,10.0,2,,,<br/>
    25,11 PG, -47.350000, -65.716667,39836.3974615,  0, 0, 3,         0,     65535,, 0, 0,    0,   -777, 8, 1,20,0,10.0,2,,,<br/>
    26,12 IP, -47.908333, -65.706667,39836.3978544,  0, 0, 3,         0,     65535,, 0, 0,    0,   -777, 8, 1,20,0,10.0,2,,,<br/>
    27,13 RB, -48.496667, -66.188333,39836.3985563,  0, 0, 3,         0,     65535,, 0, 0,    0,   -777, 8, 1,20,0,10.0,2,,,<br/>
    28,14 PA, -49.741667, -67.718333,39836.3996567,  0, 0, 3,         0,     65535,, 0, 0,    0,   -777, 8, 1,20,0,10.0,2,,,<br/>
    29,15 IE, -54.646667, -64.110000,39836.4075529,  0, 0, 3,         0,     65535,, 0, 0,    0,   -777, 8, 1,20,0,10.0,2,,,<br/>
    31,04 PQ, -38.586667, -58.751667,43950.6826827,  0, 0, 3,         0,     65535,, 0, 0,    0,   -777, 8, 1,17,0,10.0,2,,,<br/>
    32,03 PH, -38.286667, -57.835000,43950.6839582,  0, 0, 3,         0,     65535,, 0, 0,    0,   -777, 8, 1,17,0,10.0,2,,,<br/>
    33,02 PC, -38.081667, -57.533333,43950.6844890,  0, 0, 3,         0,     65535,, 0, 0,    0,   -777, 8, 1,17,0,10.0,2,,,<br/>
    34,01 PM, -36.875000, -56.665000,43950.6852411,  0, 0, 3,         0,     65535,, 0, 0,    0,   -777, 8, 1,17,0,10.0,2,,,<br/>
  </div>
</div>

  <%- include('layouts/footer') %> 